<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>宅乐网后台管理系统</title>
<link rel="icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon"/>
</head>
<body style="padding:10px">
#set ($systemCache = $cacheTools.getSystemConfigcache())
#set ($adCache = $cacheTools.getAdvertisementcache())
#set ($employeeCache = $cacheTools.getEmployeecache())
#set ($categoryCache = $cacheTools.getCategorycache())
$control.setTemplate("resource.vm")
<table width="100%">
	<tr>
		<td colspan="2" align="right">
			$control.setTemplate("logout.vm")
		</td>
	</tr>
	<tr>
		<td valign="top" align="left" width="202px">
			<h1>宅乐网后台管理系统</h1>
			$control.setTemplate("menu.vm")
			<h1>宅乐网后台订单状态</h1>
			$control.setTemplate("orderMonitor.vm")
		</td>
		<td valign="top" align="left">
			$screen_placeholder
		</td>
	</tr>
</table>
<hr/>
<div style="text-align:center;">
	@宅乐网 2015
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000452982'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1000452982%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	<a href="/awstats/awstats.pl?config=www.fyzhaile.com" target="_blank">网站统计</a> 业务合作请联系 钱晨钧 13968170136
	$control.setTemplate("mapPicker.vm")
</div>
</body>
</html>