<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<style>
	.paging{
		height: 100px;
	}
	
	.paging a{
	}
	
	.paging span{
		border: 1px solid #ccc;
		padding: 5px;
		min-width: 20px;
		display: inline-block;
		margin:1px;
	}
	
	.paging span:hover{
		background:#EA5414;
		color:white;
	}
	
	.paging .current{
		background:#EA5414;
		color:white;
	}
	
	.paging label{
		color:#EA5414;
	}
</style>
<div class="paging">
	共<label>$!shopList.totalSize</label>家店铺(<label>$!shopList.totalPage</label>页)
	<a href="$zhaile.setTarget('shops')?page=$!shopList.firstPage&shopCateId=$!SelectedCate"><span>第一页</span></a>
	<a href="$zhaile.setTarget('shops')?page=$!shopList.prePage&shopCateId=$!SelectedCate"><span>上一页</span></a>
	#foreach($prePage in $!shopList.prePages)
	<a href="$zhaile.setTarget('shops')?page=$prePage&shopCateId=$!SelectedCate"><span>$prePage</span></a>
	#end
	<span class="current">$!shopList.currentPage</span>
	#foreach($nextPage in $!shopList.nextPages)
	<a href="$zhaile.setTarget('shops')?page=$nextPage&shopCateId=$!SelectedCate"><span>$nextPage</span></a>
	#end
	<a href="$zhaile.setTarget('shops')?page=$!shopList.nextPage&shopCateId=$!SelectedCate"><span>下一页</span></a>
	<a href="$zhaile.setTarget('shops')?page=$!shopList.lastPage&shopCateId=$!SelectedCate"><span>最后一页</span></a>
</div>