<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<style>
	#zhaileInfo h1{
		text-align:left;
	}
</style>
<div id="zhaileInfo">
<h1>配送支付</h1>
<hr/>
<div id="info1" style="text-align:left">
	<h2>支付方式</h2>
	<p>到货付款：目前我司暂接受将商品送达后再由您支付现金</p>
</div>
<br><br>
<div id="info2" style="text-align:left">
	<h2>配送方式</h2>
	<p>宅乐网配送：按距离收取配送服务费，能事前比较准确地动态告知送达时长，通常无起送条件、服务范围较大;</p>
	<p>商家自配送：通常有起送条件、服务范围较小、免收配送费，将视具体商家不同而不同，配送时长视商家而定、网站不对商家的配送时长承诺和负责;</p>
	<p>请根据您的实际需求自由选择。</p>
</div>
<br><br>
<div id="info3" style="text-align:left">
	<h2>配送效率</h2>
	<p>1、商家自配送：视商家不同和当日实际情况不同而有变化，无法统一承诺，以订购时说明为准。</p>
	<p>2、宅乐网配送：平均时长45分钟左右，在您下单时会有事前动态提示。</p>
	<p>我们正在努力的一期目标：餐品订单从下达到完成不超过59分钟，平均时长45分钟左右；其他商品订单和服务力争在取件后59分钟内送达，但我们无法在此给您保证性的承诺。</p>
	<p>因为受当时天气、当日用户量、（用餐）高峰期等多种不可预估的事件影响，每一天的效率都可能会有较大出入，但我们会在接到订单的时候，将事先告知您比较准确的预估完成时间。</p>
	<p>您的订单从下达到完成，将需要以下5个过程的等候：</p>
	<p>（1） 订单审核：小于2分钟；</p>
	<p>（2） 向商家下单、预约餐品：小于3分钟；</p>
	<p>（3） 调派物流人员：≈12分钟，可能会有较大出入；因为： 您的订单将进入排队系统，将依据物流人员的配送状态按订单的先后次序派出。因此，为更好地为您提供服务，我们建议您提前预定、提前下达订单。</p>
	<p>（4） 商家等餐：≈8分钟；</p>
	<p>我司在会员商家均有绿色通道，但还是有可能会因为某些餐品的制作程序原因、商家临时特殊原因等而造成长时间的等待。</p>
	<p>（5） 订单配送：≈20分钟；</p>
	<p>在城市中我们采用电动车配送，平均时速为15公里/小时左右，通常订单配送时长不超过20分钟；当配送距离特别远或恶劣天气的时候，配送时长将会有所增加。</p>
</div>
<br><br>
<div id="info4" style="text-align:left">
	<h2>服务费用</h2>
	<p>1、商品费：为您配送的商品价格。将以实际外卖价格为准。</p>
	<p>2、打包费：为确保商家商品（餐品）的外送安全，可能需要特别的容器，我们将按实收取相应的打包费用。</p>
	<p>3、宅乐网配送服务费：我们是第三方的服务公司，需向您收取商家商品价格以外的配送费；杭州在约定的基准距离内按3元/单起计，超过基准距离则按1元/500M加收。</p>
	<p>4、一单：指在同一时间订购同一门店的商品（不限金额、份数）并送达至某一指定地址。</p>
	<p>5、距离：以百度地图为准，从商品取货起点到商品送达终点的最短路径。</p>
</div>
<br><br>
<h1>关于我们</h1>
<hr/>
<div id="info5" style="text-align:left">
	<h2>联系我们</h2>
	<p>总公司：富阳麦腾电子商务有限公司</p>
	<p>网址：www.fyzhaile.com</p>
	<p>客服专线：0571-63106676 / 400 6035 676</p>
	<p>建议邮箱：fyzhaile@126.com</p>
	<p>招聘邮箱：fyzhaile@126.com</p>
	<h3>富阳公司配送中心</h3>
	<p>地址：浙江省富阳市富春街道渔种场路116号1楼</p>
	<p>电话：0571-63106676  / 4006 035 676</p>
	<h3>富阳公司商务中心</h3>
	<p>地址：浙江省富阳市富春街道市心北路富阳市创业大楼201室</p>
	<p>总机：（0571）63106676</p>
	<p>市场：15715735370</p>
</div>
<br><br>
<div id="info6" style="text-align:left">
	<h2>招贤纳士</h2>
	<p>【宅乐网】集合专业的在线生活信息平台和线下即时配送物流，为用户创造便捷、安心的生活，为合作伙伴拓展业务和影响力半径，开创第三方外卖服务。</p>
	<p>【宅乐网】成立于2013年，已于2014年获得富阳市青年创业大赛第二名，是第三方外卖的先行企业，现已开通富阳城区的餐厅外卖、超市外卖等服务，正在复制至全国更多城市，正在日新月异地高速成长，我们的每一天都和昨天不同！</p>
	<p>公司正风生水起、蓬勃发展，我们诚挚欢迎坦诚、勤奋、包容的同事加盟！</p>
	<p>旗下网站：www.fyzhaile.com</p>
	<p>公司邮箱：fyzhaile@126.com/<p>
	<p>公司联系人：钱先生（0571）63106676 13968170136</p>
	<p>地址：浙江省富阳市富春街道市心北路富阳大学生创业大楼201室</p>
	<h3>一 、技术中心招聘</h3>
	<p>【岗位职责】：</p>
	<p>1-负责网站的技术架构设计,数据库结构设计,核心代码开发。</p>
	<p>2-开发和维护统一的软件开发架构，发现和解决存在的技术问题；</p>
	<p>3-从事核心部分分代码的编写、指导和培训工程师。
	<p>【任职要求】：</p>
	<p>1-具备良好的沟通和表达能力。</p>
	<p>2-三年以上JAVA网站的开发经验。</p>
	<p>3-精通Java技术架构J2EE、J2SE，熟悉各种常用设计模式。</p>
	<p>4-精通开发框架Struts2、Spring2/Hibernate，熟悉JSP/Servlet/JQuery等WEB开发技术。</p>
	<p>5-精通MYSQL,熟悉MYSQL数据库设计与优化（存储过程，触发器，视图）。</p>
	<p>6-熟悉Windows/Unix/Liunx开发环境，熟悉TOMCAT服务器。</p>
	<h3>二、 客服部招聘</h3>
	<p>物流调度兼客服专员</p>
	<p>【岗位职责】：</p>
	<p>1、负责用户来电咨询、网络咨询，处理投诉、客户回访；</p>
	<p>2、负责配送人员的物流调度工作；</p>
	<p>3、向工作流程相关人员准确发送、反馈信息；</p>
	<p>【岗位要求】：</p>
	<p>1、声音清晰甜美，普通话标准；</p>
	<p>2、熟练使用办公软件，打字速度60字/分钟以上；</p>
	<p>3、良好的创新能力、沟通能力，敏锐的发现能力；</p>
	<p>4、有专业呼叫中心客服工作经验者优先；</p>
	<p>5、熟悉富阳城区地理位置；</p>
	<h3>三、 物流部招聘</h3>
	<p>物流配送员</p>
	<p>【岗位职责】：</p>
	<p>1、根据呼叫中心所下达订单，及时准确地去商家取餐，在客户要求时间内，送达至客户处；</p>
	<p>2、文明取餐、礼貌送单、微笑送达；</p>
	<p>3、协助反馈问题，较强的服务意识，处理公司与客户关系。</p>
	<p>【岗位要求】：</p>
	<p>1、学历不限，专业不限，会骑电动车；</p>
	<p>2、形象阳光积极，工作热情主动，有强烈的责任感和服务精神；</p>
	<p>3、熟悉所负责区域内的道路，餐饮商家，主要楼群等地理位置者优先。</p>
	<p>【薪酬福利】：</p>
	<p>1、多劳多得，月平均工资4000元以上；</p>
	<p>2、为您缴纳社保和商业保险！</p>
	<h3>物流配送骑士（暑期实习）</h3>
	<p>【岗位职责】：</p>
	<p>1、负责客户小件订单产品取送（主要是餐饮类）</p>
	<p>【岗位要求】：</p>
	<p>1、会骑电瓶车，对方位较敏感。</p>
	<p>【薪资待遇】：</p>
	<p>工资组成：底薪+提成+绩效奖励</p>
	<p>底薪：新入员工底薪800元/月，工作2个月后底薪1000/月，工作满1年后，100元工龄奖/月，每多工作一年，多100元工龄奖。</p>
	<p>提成：每配送1笔订单提成3元，按月累积。</p>
	<p>绩效奖励：每月累积配送500单，绩效奖励100元，累积配送600单，绩效奖励再加150元，累积配送700单，绩效奖励再加200元，累积配送1000单，另额外奖励500元。 </p>
	<p>上班地点：富阳市渔种场路116号</p>
</div>
<br><br>
<div id="info7" style="text-align:left">
	<h2>网站介绍</h2>
	<h3>一、服务使命</h3>
	<p>【宅乐网】集合专业的在线生活信息平台和线下即时配送物流，为用户创造便捷、安心的生活，为合作伙伴拓展业务和影响力半径，开创第三方外卖服务。现已开通富阳的外卖、超市等服务，并正在复制至全国更多城市。</p>
	<p>外卖就来宅乐网！【宅乐网】让合作商家的门店无限大！</p>
	<h3>二、核心理念</h3>
	<p>我们是一家提供第三方服务的公司，我们因为提供服务而生存，我们坚持：</p>
	<p>一个中心——以服务用户为中心；</p>
	<p>两个基本点——为用户创造价值，为合作伙伴创造价值。</p>
	<p>外卖就来宅乐网！</p>
	<p>宅乐网，让合作商家的门店无限大！</p>
	<h3>三、生存理念</h3>
	<p>我们因为满足用户的需求、获得用户的满意而获得收入！</p>
	<p>我们因为带给商家规模化的、稳定的额外利润而获得回报！</p>
	<p>我们因为用户和合作伙伴选择了我们的服务而生存！</p>
	<h3>四、发展现状</h3>
	<p>当前，我们已是第三方餐饮外卖的先行者，我们正在日新月异地高速成长，我们的每一天都和昨天不同。</p>
</div>
<br><br>
<div id="info8" style="text-align:left">
	<h2>商家加盟</h2>
	<p>我们相信并坚持共赢是合作的基础，为他人创造价值是自我价值实现的基础，这是我们的合作理念和合作前提。</p>
	<p>我们相信并坚持以结果为导向的成长，而非以未来想象为筹码的交易，这是我们服务价值理念，让您的投入回报风险降到最低。</p>
	<h3>一、项目描述</h3>
	<p>【宅乐网】集合专业的在线生活信息平台和线下即时配送物流，为用户创造便捷、安心的生活，为合作伙伴拓展业务和影响力半径，开创第三方外卖服务。现已开通富阳的外卖、超市等服务，并正在复制至全国更多城市。</p>
	<p>外卖就来宅乐网！【宅乐网】让合作商家的门店无限大！</p>
	<p>让我们把您的用户拓展至杭城每一个消费者；</p>
	<p>让我们把您的用户拓展至所在城市每一个消费者！</p>
	<h3>二、用户利益</h3>
	<p>外卖就来宅乐网！</p>
	<p>足不出户，坐拥全城千百家优选商家商品；</p>
	<p>选择众多、永不腻味，原价原装餐品、节约宝贵时间；</p>
	<p>中立公正、品质保障，服务专业、安全快速；</p>
	<h3>三、商家利益</h3>
	<p>宅乐网，让您的门店无限大！</p>
	<p>让我们把您的门店延伸至富阳每一张办公桌；</p>
	<p>让我们把您的影响传递至富阳每一块显示器；</p>
	<p>让我们把您的用户拓展至富阳每一个消费者；</p>
	<p>【宅乐网】让您与我们共享高速成长！</p>
	<p>1、直接体验：</p>
	<p>额外增加餐品销售</p>
	<p>提高利润和利润率</p>
	<p>扩大服务区域</p>
	<p>拓展客户认知度和客户群</p>
	<p>2、额外免费：</p>
	<p>网站广告</p>
	<p>资料精准投递</p>
	<p>行业信息咨询</p>
	<h3>四、【宅乐网】利益</h3>
	<p>我们因为满足用户的需求、获得用户的满意而获得收入！</p>
	<p>我们因为带给商家规模化的、稳定的额外利润而获得回报！</p>
	<p>我们因为用户和合作伙伴选择了我们的服务而生存，我们因为用户和合作伙伴的满意而获得价值！</p>
	<h3>五、联系我们</h3>
	<p>总公司：富阳麦腾电子商务有限公司</p>
	<p>网址：www.fyzhaile.com</p>
	<p>客服专线：0571- 63106676 4006 035 676</p>
	<p>建议邮箱：fyzhaile@126.com</p>
	<p>招聘邮箱：fyzhaile@126.com</p>
	<p>富阳公司配送中心</p>
	<p>地址：浙江省富阳市富春街道渔种场路116号1楼；</p>
	<p>富阳公司商务中心</p>
	<p>地址：浙江省富阳市富春街道市心北路富阳市创业大楼201室</p>
	<p>总机：（0571）63106676</p>
	<p>市场：15715735370</p>
</div>
<br><br>
<h1>帮助中心</h1>
<hr/>
<div id="info9" style="text-align:left">
	<h2>服务内容</h2>
	<h3>一、服务范围</h3>
	<p>我司凭借强大的技术支撑实现了“无分区”限制的服务，最合理地满足了用户的需求。</p>
	<p>在您选择由点我吧提供配送服务的商品时，您的可选范围为以您的送达地址为中心的3KM路径范围；</p>
	<p>若遇暴雨、暴雪或其他特殊情况，我们将会临时调整选择范围。</p>
	<p>在您选择由商家提供配送服务的商品时，则自动根据各家商家的设置范围进行限制；</p>
	<h3>二、服务时间</h3>
	<p>物流配送服务时间：09:30—21:00</p>
	<p>客服专线服务时间：09:30—21:00</p>
	<p>网站下单服务时间：00:00—24:00</p>
	<p>建议您优先选择网站下单服务。网站下单更方便、准确，并享有积分。</p>
	<h3>三、服务流程</h3>
	<p>第一步：登陆网站www.fyzhaile.com或拨打客服专线0571- 63106676 或 4006 035 676；</p>
	<p>第二步：确认您的送达地址；</p>
	<p>第三步：确认您选择的商家、商品、份数等要求</p>
	<p>若您是网络用户，仅需根据网站提供的图片、名称等丰富详尽的信息，自己选择、填写即可；若您是电话用户则需通过语音交流来确定；在此，我们建议您选择网站下单的方式。</p>
	<p>第四步：及时送到您的手中，订单完成。</p>
	<p>收到您的订单后，我们将在第一时间按您的要求送出，并请您收到商品后核对。</p>
	<h3>四、下单方式</h3>
	<p>1、网络下单：登录网站www.fyzhaile.com，并按网站提示流程操作即可。</p>
	<p>2、电话下单：拨打客服专线0571- 63106676 或4006 035 676与我司客服人员交流即可。</p>
	<p>3、推荐方式：我们推荐您使用网络下单方式，网络下单具有以下优势：</p>
	<p>（1） 网站有影音、图文等信息，更方便、更利于您对商品的选择，您将获得比电话下单方式更多更丰富更全面更准确的信息；</p>
	<p>（2） 网站提供订单即时查询跟踪功能，您可随时监控您的订单进度；</p>
	<p>（3） 避免因电话语音交流而有可能导致的沟通偏差；</p>
	<p>（4） 网络下单将获得积分赠送，积分有很多用途哦！</p>
</div>
<br><br>
<div id="info10" style="text-align:left">
	<h2>服务介绍</h2>
	<p>【宅乐网】集合专业的在线生活信息平台和线下即时配送物流，为用户创造便捷、安心的生活，为合作伙伴拓展业务和影响力半径，开创第三方外卖服务。</p>
	<p>【宅乐网】是第三方外卖的先行企业，现已开通富阳城区的外卖、超市等服务，并正在复制至全国更多城市。</p>
	<p>外卖就来宅乐网！【宅乐网】让合作商家的门店无限大！</p>
	<h3>一、餐厅</h3>
	<p>我们精选了上百家品牌餐饮商家，将各式美味全都为您送上门；</p>
	<p>从国际连锁巨头到风味街角小店，从大菜正餐到饮料点心，从川粤湘鲁到日韩意法……丰富多样、应有尽有；</p>
	<p>根据商家的服务定位和用户需求不同，我们提供由宅乐网专业配送和由商家直接配送的不同渠道配送服务。</p>
	<p>1、宅乐网配送餐厅</p>
	<p>由知名餐饮商家提供餐品，由宅乐网提供专业配送服务，需要额外增加配送服务费。</p>
	<p>2、商家自配送餐厅</p>
	<p>由品牌商家直接向您提供餐品和外卖配送服务，通常不收取配送服务费。</p>
	<p>3、宅乐超市（附加选择）</p>
	<p>在您选择宅乐网配送的餐厅餐品时，还可附加选择附带宅乐超市的商品。</p>
	<h3>二、超市</h3>
	<p>我们优选知名、优质的产品供应商，直接从品牌供应商的门店取货以保证产品质量和流通环节安全。目前主要提供二类商品：</p>
	<p>1、水果：精选可量化的商品，供您选择。</p>
	<p>2、宅乐超市：暂时开放饮料专区可供您选择。</p>
	<h3>三、附加功能</h3>
	<p>1、点评</p>
	<p>在此，您的声音将传递到我们、传递到商家、传递到大家。</p>
	<p>2、关于我们</p>
	<p>在此，您将深入了解我们。</p>
	<p>3、网站公告</p>
	<p>在此，您将获知最新的网站发展动态和商家加盟信息。</p>
	<p>4、帮助中心</p>
	<p>在此，将为您解答各种疑问，并帮助您顺利便捷地使用我们的服务。</p>
	<p>5、账户中心</p>
	<p>在此，您可查询您自己在【宅乐网】的所有足迹，可以查看自己的所有信息、所有订单、所有过程……</p>
	<p>【宅乐网】有两种账户类型：个人账户、商家账户。</p>
	<p>商家账户不能自由注册，需联系我司市场部开通。</p>
</div>
<br><br>
<div id="info11" style="text-align:left">
	<h2>常见问题</h2>
	<h3>一、商品及商家问题</h3>
	<p>我司是联系您与商家的桥梁，若您对商品质量有任何疑问，均请马上联系我们，我们会帮助您联系商家解决。</p>
	<p>1、外卖与堂食菜单是否一致？</p>
	<p>并非所有的堂食餐品都提供外卖，原因是：</p>
	<p>（1）某些餐品不适合外卖运输；</p>
	<p>（2）某些餐品的原材料经常不能充足备货；</p>
	<p>（3）某些餐品的原材料价格经常会有较大幅度变动，是“时价”；</p>
	<p>（4）与各商家间的其他不确定的特殊原因，不一一列举。</p>
	<p>2、外卖与堂食质量是否一致？</p>
	<p>因餐品特性，外送的餐品口味与堂食可能会有所不同，但不会有很大变化。我司采用专业的保温设备送餐，且均在商家现做完成后，第一时间送达。</p>
	<p>若因我司原因导致餐品事故，我们会尽最大努力补偿，以获得您的谅解；</p>
	<p>若在份量、口味等方面有较大出入，我们将积极帮助您向商家反馈、交涉</p>
	<p>3、我喜欢的商家没有找到？</p>
	<p>【宅乐网】的合作商家都是我们的协议合作商家，若有您喜欢的商家，欢迎告诉我们，我们会进行审核、洽谈。</p>
	<p>4、质量（新鲜度）会不会有问题？</p>
	<p>我司均是第一时间从商家处提取送至您处，中间不会有任何耽搁。</p>
	<p>5、份量会不会不足？</p>
	<p>我司合作商家都是经过严格审核的，在餐品质量、诚信度方面都属同行业领先者。</p>
	<p>6、面食餐品在送餐过程中会不会发胀？</p>
	<p>普通面食出锅8分钟左右就会开始发胀，请您注意选择离您较近的餐厅。同时，我们会要求商家将面食和汤分开打包以更好地保证口味和质量。</p>
	<h3>二、价格及付费相关</h3>
	<p>为您配送的商品价格将以实际外卖价格相同，有出入时以实际为准。请注意连锁商家的餐品、价格并不都是相同的。</p>
	<p>7、外卖与堂食价格是否一致？</p>
	<p>外卖与堂食价格原则上一致，如有出入，原因可能如下：</p>
	<p>（1）偶有商家在餐品价格变动时，未及时提交、更改；</p>
	<p>（2）已明示需使用专用打包盒的餐品，会产生打包费；</p>
	<p>（3）某些特定餐品堂食有优惠，但外卖时不享受优惠；</p>
	<p>（4）某些餐品在连锁商家的不同门店价格是不一样的！</p>
	<p>如果因计算错误等非上述原因多收费用，我们会如数退还。</p>
	<p>8、连锁商家的餐品都是一样的吗？</p>
	<p>不是。一些连锁的中式炒菜类、加盟类的商家，不同门店的餐品会有差异。</p>
	<p>9、连锁商家的同一餐品价格都是一样的吗？</p>
	<p>不是。比如：肯德基的餐品在不同等级的门店中价格也会略有不同。</p>
	<p>10、能否给予价格优惠？？</p>
	<p>不能。我司系第三方服务公司，商品价格跟商家外卖价格完全相同，是否有优惠由商家的外卖规则而定。</p>
	<p>11、是否可以签单赊账？</p>
	<p>不可以。这涉及我司的整个财务流程，目前无法接受后付方式。</p>
	<h3>三、服务时间及效率</h3>
	<p>12、为什么有时20分钟的距离1个多小时还没送到？</p>
	<p>影响点我吧配送速度的不确定因素主要有：</p>
	<p>（1）商家出餐速度：因某些餐品的制作特性、商家某些特殊原因，偶尔会有非常长时间的等餐过程；</p>
	<p>（2）订单排队受理：我们需按下单的先后次序安排您的订单；</p>
	<p>（3）恶劣天气：特殊天气时行车环境恶化，导致配送效率下降；</p>
	<p>（4）配送意外：偶尔会发生轮胎等电动车零件损坏等原因导致配送时间增长。</p>
	<p>我们无法掌握所有因素，行业平均超时单量约在25%左右，我们正在努力将超时单量控制在5%以内，希望能得到您的谅解和支持。</p>
	<p>提前下单或预订，将有效地保障您的用餐时间要求。</p>
	<p>13、有时1个多小时甚至更久才送到，餐品岂不是都凉了？</p>
	<p>不会影响餐品的正常品质，这个时间并非餐品出餐后的配送时间跨度。预订后订单会进入调度分配系统，如遇配送骑士全忙而需要等待时，我司会协调商家的做餐时间，保证餐品质量。</p>
	<p>14、早上9:30前或者晚上21:00后我能不能下单？</p>
	<p>【宅乐网】提供7*24小时网上预订服务，由于商家营业时间限制，配送时间在9:30—21:00。故您可在非配送时间内提前预订，届时我司将会优先安排配送。</p>
	<h3>四、订单增减及退订</h3>
	<p>15、订单下达后我想增加该商家的商品（餐品），是不是要再付一次配送费？</p>
	<p>不一定。只要我们的配送人员尚未将您的商品从商家送出，均不再增加配送费；若我们已经从商家送出，则视作一个新订单，需要加收一次配送费。</p>
	<p>16、订单下达后我能否删减、退订部分商品（餐品）？</p>
	<p>不一定，请查看您的订单状态。若您的订单尚处于“未处理”状态时与我司客服中心联系则可安排退订；若是其他状态，则订单商品或服务已经开始制作或安排，已无法退订。</p>
	<h3>五、地址及商品描述</h3>
	<p>没有准确、详细的地址将导致我们无法提供有效的服务。</p>
	<p>17、我无法说清自己所在的地址，该怎么办？</p>
	<p>当您不清楚门牌号时，请以所处的道路十字路口位置来说明；</p>
	<p>网络用户可根据我们提供的“地图标注”功能和“搜索”选择来帮助您有效地确定您的详细地址。</p>
	<p>18、我已经很清楚地报过地址了，你们就不用再跟我核对浪费时间了！</p>
	<p>为保证餐品送达的准确性，避免电话或网站在录入过程中出现地址信息偏差，对客户首次使用的地址，我司客服将进行核对。</p>
	<p>19、我自己都不知道该吃点什么，该怎么办？</p>
	<p>我们会根据餐品的类别、价位、口味以及您的个性化要求等为您引导、推荐，帮助您确定您真正想要的。</p>
	<p>20、我想不起来我曾经吃过的菜，该怎么办？</p>
	<p>您可以提供餐厅名称、菜的材料组成、菜的做法等信息，根据网站上周详的餐厅信息来选出您真正想要的。</p>
	<p>21、配送范围如何划分？</p>
	<p>在先进的技术支持下，我们的配送范围是不划分区域的，通常是您周边3Km范围内的【宅乐网】合作商家都可供您选择；若遇暴雨、暴雪或其他特殊情况，我们将会临时调整选择半径。</p>
	<h3>六、咨询联系</h3>
	<p>富阳公司客服中心</p>
	<p>地址：浙江省富阳市富春街道渔种场路116号1楼；</p>
	<p>电话：0571- 63106676 或 4006 035 676</p>
	<p>富阳公司商务中心</p>
	<p>地址：浙江省富阳市富春街道市心北路富阳市创业大楼201室</p>
	<p>总机：（0571）63106676</p>
	<p>市场：15715735370</p>
</div>
<br><br>
<div id="info12" style="text-align:left">
	<h2>网站地图</h2>
	<p>无</p>
</div>
<h1>网站公告</h1>
<hr>
<div id="info13" style="text-align:left">
	<p>无</p>
</div>
</div>