<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<h1>查询条件</h1>
<div class="doc-content">
	<form action="$admin.setTarget('messageCenter')" class="form-horizontal well">
		<div class="row">
			<div class="control-group">
				<label class="control-label">接收号码：</label>
				<div class="controls">
					<input type="text" class="control-text" name="mobile" id="mobile" value="$!smsQueryFormBean.mobile">
				</div>
				<label class="control-label">发送状态：</label>
				<div class="controls">
					<select name="status">
						<option selected value="">全部</option>
						#foreach($status in $SmsStatusEnum)
						<option 
							#if($!smsQueryFormBean.status)
								#if($!smsQueryFormBean.status==$!status.code)
									selected
								#end
							#end 
							value="$!status.code">$!status.desc</option>
						#end
					</select>
				</div>
				<label class="control-label">任务类型：</label>
				<div class="controls">
					<select name="type">
						<option selected value="">全部</option>
						#foreach($status in $SmsTypeEnum)
						<option 
							#if($!smsQueryFormBean.type)
								#if($!smsQueryFormBean.type==$!status.code)
									selected
								#end
							#end 
							value="$!status.code">$!status.desc</option>
						#end
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="control-group">
				<label class="control-label">处理时间：</label>
				<div class="controls">
					<input type="text" class="calendar" name="gmtModifyStart" id="gmtModifyStart" value="$!smsQueryFormBean.gmtModifyStart">
					至
					<input type="text" class="calendar" name="gmtModifyEnd" id="gmtModifyEnd" value="$!smsQueryFormBean.gmtModifyStart">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-actions offset3">
				<button class="button button-primary">搜索</button>
				<button type="reset" class="button">重置</button>
			</div>
		</div>
	</form>
</div>
<h1>查询结果</h1>
<div id="grid"></div>
<script type="text/javascript">
		var Calendar = BUI.Calendar;
		
		var gmtModifyStart = new Calendar.DatePicker({
		  trigger:'#gmtModifyStart',
		  selectedDate : new Date(),
		  autoRender : true
		});
		
		var gmtModifyEnd = new Calendar.DatePicker({
			  trigger:'#gmtModifyEnd',
			  selectedDate : new Date(),
			  autoRender : true
		});

      var Grid = BUI.Grid,
      Data = BUI.Data;
      var Grid = Grid,
      Store = Data.Store,
      statusObj = {
	  	#foreach($smsStatus in $SmsStatusEnum)
		"$!smsStatus.code": "$!smsStatus.desc"
			#if(${velocityCount} != $SmsStatusEnum.size())
				,
			#end
		#end
		},
	  typeObj = {
	  	#foreach($type in $SmsTypeEnum)
		"$!type.code": "$!type.desc"
			#if(${velocityCount} != $SmsTypeEnum.size())
				,
			#end
		#end
		},
      columns = [
		{
			title : '序号',
			dataIndex : 'id',
			renderer : function(val,obj,index) {
				return index+1;
			},
			width:'5%'
		},{
          title : '接收号码',
          elCls: 'left',
          dataIndex :'mobile',
		  width:'15%'
        },{
            title : '短信状态',
            elCls: 'left',
            dataIndex: 'status',
            editor : {
				xtype : 'select',
				items : statusObj
			},
			renderer : Grid.Format.enumRenderer(statusObj),
			summary : false,
            width:'10%'
       	},{
            title : '短信类型',
            elCls: 'left',
            dataIndex: 'type',
            editor : {
				xtype : 'select',
				items : typeObj
			},
			renderer : Grid.Format.enumRenderer(typeObj),
			summary : false,
            width:'10%'
       	},{
            title : '重试次数',
            elCls: 'left',
            dataIndex :'retry',
  		  	width:'15%'
        },{
          title : '创建时间',
          elCls: 'left',
          dataIndex :'gmtCreate',
          renderer:BUI.Grid.Format.datetimeRenderer,
		  width:'15%'
        },{
            title : '发送时间',
            elCls: 'left',
            dataIndex : 'gmtModify',
            renderer:BUI.Grid.Format.datetimeRenderer,
  		  	width:'15%'
       	},{
			title : '操作',
			elCls: 'center',
			dataIndex : 'oper',
			renderer : function(val,obj,index) {
				var id = obj.id;
				return "<span class='grid-command btn-retry' dataId='"+id+"'>重试</span>";
			}
		}],
		data = #if($!{smsList})#noescape()$!{smsList}#end#else null #end;

      var store = new Store({
        data : data,
      }),
      cascade = new Grid.Plugins.Cascade({
		    renderer : function(record){
		    	return '<div><p>&nbsp;短信内容：' + record.text + '</p><p>&nbsp;回调方法：'+record.callBackUrl+'</p></div>';
		    }
	  }),
      grid = new Grid.Grid({
        render:'#grid',
        width:'100%',//这个属性一定要设置
        columns : columns,
        store : store,
        plugins : [cascade]
      });

    grid.render();
    
    jQuery(document).ready(function(){
	      jQuery('.btn-retry').click(function(){
	    	  var id = jQuery(this).attr("dataId");
	    	  var timestamp = currentTime();
	      	  var para = "?timestamp="+timestamp+"&id="+id;
	   			jQuery.ajax({
	   				type: "get",
	   				url: '$admin.setTarget('/json/retrySmsTask.json')'+ para,
	   				success:function(data, textStatus){
	   					if(data){
	   						window.location.reload();
	   					} else {
	   						alert('操作失败');
	   					}
	   				}
	   			});
	      });
    });
</script>