<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
#set ($categoryCache = $cacheTools.getCategorycache())
#set ($categoryL2List = $categoryCache.getL2())
<style>
	.detail{
		width:100%;
	}
	
	.detail th{
		width:15%;
		text-align:right;
		padding-bottom:10px;
		vertical-align:top;
	}
	
	.detail td{
		width:35%;
		word-wrap:break-word; 
		text-align:left;
		padding-bottom:10px;
		vertical-align:top;
		padding-left:5px;
	}
	
	.prodDetail{
		width:100%;
	}
	
	.prodImg{
		width:100px;
		vertical-align:top;
	}
	
	.prodImg img{
		width:100px;
		height:100px;
		border:1px solid lightgrey;
	}
	
	.prodItem{
		vertical-align:top;
	}
	
	.prodItem table{
		vertical-align:top;
		width:100%;
		height:100px;
	}
	
	.prodItem table th{
		text-align:right;
		vertical-align:top;
		width:10%;
		padding-bottom:10px;
	}
	
	.prodItem table td{
		word-wrap:break-word; 
		text-align:left;
		width:40%;
		vertical-align:top;
		padding-left:5px;
	}
</style>
<h1>基本信息</h1>
<hr>
#if($!shop)
<div style="display:none" id="fileUploder">
<div id="fileploadFrom" class="row">
		<input type="hidden" id="itemPath" value=""/>
		<input type="hidden" id="itemId" value=""/>
		<div id="J_Uploader"></div>
		<div>上传的图片，只能是JPG或者PNG格式的，且注意尺寸<label id="allowedWidth"></label>*<label id="allowedHeight"></label></div>
		<div id="imgSize">图片尺寸为<label id="imgWidth"></label>*<label id="imgHeight"></label></div>
		<img src="" id="imgPreview" />
</div>	
</div>
<div style="display:none" id="shopEdit">
<div id="shopEditFrom">
	<div shopId="$!shop.shopDO.id" id="shopId" class="row">
		<div style="float:right">
			<img id="shopImg" src="" style="border:1px solid lightgrey;width:100px;height:100px"><br>
			<button imgWidth="200" imgHeight="200" imgId="shopImg" class="btnUpload button button-danger button-small">上传店铺图片...</button>
		</div>
        <div>
          <p>
            <label>店铺名称：</label><input id="shopName" data-rules="{required:true,max:100}" type="text">
            <select id="shopStatus" class="input-small">
            </select>
            <button shopId="$!shop.shopDO.id" lng='$!shop.shopDO.lng' lat='$!shop.shopDO.lat' id="btnShopRelocate" class="btnShopRelocate button button-danger button-small">重新定位...</button>
          </p>
          <p>
          	<label>店铺分类：</label>
          	#foreach($shopCategory in $shopCategoryEnum)
          		<label class="control-label checkbox">
				<input type="checkbox" name='shopCateCb' value="$shopCategory.id"
				#foreach($shopCate in $!shop.shopCateList)
					#if($shopCate.cateId == $shopCategory.id)
						checked
					#end
				#end
				>$shopCategory.desc &nbsp;</label>
			#end
          </p>
          <p>
            <label>登录密码：</label><input id="contactPassword" data-rules="{required:true}" type="password" value="$!shop.customerDO.password">
            <button shopId="$!shop.shopDO.id" class="btnShopPassword button button-danger button-small">修改密码</button>
          </p>
          <p>
            <label>店主称呼：</label><input id="contactName" data-rules="{required:true,max:100}" type="text">
            <select id="contactGender" class="input-small">	
            </select>
          </p>
          <p>
            <label>外卖费用：</label><input id="shopCharge" data-rules="{required:true,number:true}" type="text"><label class="auxiliary-text">&nbsp;0元为商家自送，其他为宅乐配送</label>
          </p>
          <p>
            <label>营业时间：</label><span id="log"></span>
          </p>
          <div id="s1" style="width:230px;padding-left:60px;">
          </div>
          <p>
            <label>联系手机：</label><input id="contactMobile" type="text">
          </p>
          <p>
            <label>联系电话：</label><input id="contactPhone" type="text">
          </p>
          <p>
            <label>联系地址：</label><input id="contactAddress" data-rules="{max:200}" type="text" style="width:220px;">
          </p>
          <p>
            <label>起送金额：</label><input id="price" type="text" value="$!shop.shopDO.price">&nbsp;元
          </p>
          <p>
            <label>配送距离：</label><input id="distance" type="text" value="$!shop.shopDO.distance">&nbsp;米
          </p>
          <p>
            <label>推送绑定：</label><input id="cid1" type="text" value="$!shop.shopDO.cid1" style="width:220px;">
            <label id="cid1Label" class="auxiliary-text">输入手机号码，则以短信方式推送</label>
          </p>
          <p>
            <label>推送绑定：</label><input id="cid2" type="text" value="$!shop.shopDO.cid2" style="width:220px;">
            <label id="cid2Label" class="auxiliary-text">输入CID则为App推送消息</label>
          </p>
          <p>
            <label>推送绑定：</label><input id="cid3" type="text" value="$!shop.shopDO.cid3" style="width:220px;">
            <label id="cid3Label" class="auxiliary-text">一家店铺可以绑定5个号码</label>
          </p>
          <p>
            <label>推送绑定：</label><input id="cid4" type="text" value="$!shop.shopDO.cid4" style="width:220px;">
            <label id="cid4Label"  class="auxiliary-text">需要解绑则将栏位置空，并保存</label>
          </p>
           <p>
            <label>推送绑定：</label><input id="cid5" type="text" value="$!shop.shopDO.cid5" style="width:220px;">
            <label id="cid5Label"  class="auxiliary-text">绑定后立即生效</label>
          </p>
          <p>
          	<label>认证类型：</label>
          	<select id="licenseType" class="input-small" style="position:relative;left:-5px;">	
            </select><button imgWidth="500" imgHeight="360" imgId="licenseImg" class="btnUpload button button-danger button-small">上传营业执照...</button>
            <div class="controls  control-row-auto">
            	<img id="licenseImg" src="" style="border:1px solid lightgrey;width:100px;height:72px">
	        </div>
          </p>
          <p>
            <label>店铺描述：</label>
            <div class="controls  control-row-auto">
	          <textarea name="" id="shopDesc" data-rules="{max:500}" class="control-row4 input-large"></textarea>
	        </div>
          </p>
          <input type="hidden" id="customerId" value="$!shop.customerDO.id"/>
          <input type="hidden" id="contactId" value="$!shop.contactDO.id"/>
    	</div>
    </div>
</div>
</div>
<table class="prodDetail">
	<tr>
		<td class="prodImg">
			<img src="$!shop.shopDO.shopImage" id="shopDisplayImage">
			<div>店铺编号: $!shop.shopDO.id</div>
		</td>
		<td class="prodItem">
		<table>
			<tr>
				<th>
					店铺名称:
				</th>
				<td id="shopName$!shop.shopDO.id">
					$!shop.shopDO.name
				</td>
				<th>
					状态:
				</th>
				<td id="shopStatus$!shop.shopDO.id">
					#if($!shop.shopDO.enable == '0')
						<font color="blue">在线</font>
					#else
						<font color="red">下架</font>
					#end
				</td>
			</tr>
			<tr>
				<th>
					配送距离:
				</th>
				<td>
					$!shop.shopDO.distance 米
				</td>
				<th>
					起送金额:
				</th>
				<td>
					$!shop.shopDO.price 元
				</td>
			</tr>
			<tr>
				<th>
					营业时间:
				</th>
				<td>
					<span id="shopOpen$!shop.shopDO.id">$!shop.shopDO.gmtOpen</span> - <span id="shopClose$!shop.shopDO.id">$!shop.shopDO.gmtClose</span>
				</td>
				<th>
					外卖费用:
				</th>
				<td>
					<span id="shopCharge$!shop.shopDO.id">$!shop.shopDO.charge</span>元 <label class="auxiliary-text">0元为商家自送，其他为宅乐配送</label>
				</td>
			</tr>
			<tr>
				<th>
					认证类型:
				</th>
				<td colspan="3">
					<span id="licenseType$!shop.shopDO.id">
					#if($!shop.shopDO.licenseType=="0")
						企业注册
					#end
					#if($!shop.shopDO.licenseType=="1")
						个人注册
					#end
					#if($!shop.shopDO.licenseType=="")
						尚未注册
					#end
					#if(!$!shop.shopDO.licenseType)
						尚未注册
					#end
					</span>
					<span>
					#if($!shop.shopDO.licenseType=="0")
						#if($!shop.shopDO.licenseImg)
							<label style='color:green;padding-left:10px;'>已经上传营业执照</label>
						#else
							<label style='color:red;padding-left:10px;'>尚未上传营业执照</label>
						#end
					#end
					</span>
				</td>
			</tr>
			<tr>
				<th>
					描述:
				</th>
				<td colspan="3" id="shopDesc$!shop.shopDO.id">
					$!shop.shopDO.description
				</td>
			</tr>
			<tr>
				<th>
					店铺分类:
				</th>
				<td colspan="3" id="shopCate$!shop.shopDO.id">
					#foreach($shopCategory in $shopCategoryEnum)
						#foreach($shopCate in $!shop.shopCateList)
							#if($shopCate.cateId == $shopCategory.id)
								$shopCategory.desc &nbsp;&nbsp;
							#end
						#end
					#end
				</td>
			</tr>
			<tr>
				<th>
					店主称呼:
				</th>
				<td colspan="3">
					<span id="contactName$!shop.shopDO.id">$!shop.contactDO.name</span>&nbsp;
					<span id="contactGender$!shop.shopDO.id">
					#if($!shop.contactDO.gender=="0")
						先生
					#else
						女士
					#end
					</span>
				</td>				
			</tr>
			<tr>
				<th>
					手机:
				</th>
				<td id="contactMobile$!shop.shopDO.id">
					$!shop.contactDO.mobile
				</td>
				<th>
					固定电话:
				</th>
				<td id="contactPhone$!shop.shopDO.id">
					$!shop.contactDO.phone
				</td>
			</tr>
			<tr>
				<th>
					联系地址:
				</th>
				<td  colspan="3" id="contactAddress$!shop.shopDO.id">
					$!shop.contactDO.address
				</td>
			</tr>
			<tr>
				<th>
					<input type="hidden" id="shopImg$!shop.shopDO.id" value="$!shop.shopDO.shopImage">
					<input type="hidden" id="licenseImg$!shop.shopDO.id" value="$!shop.shopDO.licenseImg">
				</th>
				<td colspan="3">
					<button shopId="$!shop.shopDO.id" class="btnShopEdit button button-info button-small">编辑...</button>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
#end

<h1>店铺标签</h1>
<hr>
#if($!shop)
	#set ($tagList = $!shop.tagList)
	#foreach($tag in $tagList)
		<table class="detail">
			<tr>
				<th>
					标签:
				</th>
				<td>
					$!tag.content
				</td>
				<th>
					被搜索次数:
				</th>
				<td>
					$!tag.searchCount
				</td>
				<th>
					创建时间:
				</th>
				<td>
					$dateTools.DateToString($!tag.gmtCreate)
				</td>
				<th>
					最近修改时间:
				</th>
				<td>
					$dateTools.DateToString($!tag.gmtModify)
				</td>
			</tr>
		</table>
		<hr>
	#end
#end
<div style="display:none" id="prodEdit">
<div id="prodEditFrom">
	<div prodId="" id="prodId" class="row">
		<div style="float:right">
			<img id="prodImgs" src="" style="border:1px solid lightgrey;width:100px;height:100px"><br>
			<button imgWidth="200" imgHeight="200" imgId="prodImgs" class="btnUpload button button-danger button-small">上传商品图片...</button>
		</div>
        <div>
          <p>
            <label>名称：</label><input id="prodName" data-rules="{required:true,max:100}" type="text">
          </p>
          <p>
            <label>标题：</label><input id="prodTitle" data-rules="{required:true,max:100}" type="text">
          </p>
          <p>
            <label>单价：</label><input id="prodPrice" data-rules="{required:true,number:true}" type="text">
          </p>
          
          <p>
            <label>状态：</label>
            <select id="prodStatus" class="input-small">
            	
            </select>
          </p>
         
          <p>
            <label>分类：</label>
            <select id="prodCate" class="input-small">
			</select>
          </p>
         
          <p>
            <label>描述：</label>
            <div class="controls  control-row-auto">
	          <textarea name="" id="prodDesc" data-rules="{max:500}" class="control-row4 input-large"></textarea>
	        </div>
          </p>  
    	</div>
    </div>
</div>
</div>
<h1>商品情况&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="enableAll button button-success button-small">上线所有</button>
<button class="disableAll button button-danger button-small">下线所有</button>
<button class="btnProdAdd button button-info button-small">添加商品...</button>
&nbsp;<span style="position:relative;top:6px;"><i class="icon-search icon"></i></span>
<input type="text" id="prodFilter" value="" style="font-size:12px;position:relative;top:2px;">
<span id="iconRemove" style="position:relative;top:6px;left:-22px;cursor:pointer;"><i class="icon-remove icon"></i></span>
</h1>
<hr>
#if($!prodList)
	#foreach($product in $prodList)
	<div>
		<table class="prodDetail">
			<tr>
				<td class="prodImg">
					<img src="$!product.imgS" width="200px" height="200px" id="prodDisplayImgs$!product.id">
					<div>商品编号: $!product.id</div>
				</td>
				<td class="prodItem">
					<table>
						<tr>
							<th>
								名称:
							</th>
							<td class="prodNameFilter" id="prodName$!product.id">
								$!product.name
							</td>
							<th>
								标题:
							</th>
							<td id="prodTitle$!product.id">
								$!product.title
							</td>
						</tr>
						<tr>
							<th>
								单价:
							</th>
							<td id="prodPrice$!product.id">
								$!product.price
							</td>
							<th>
								状态:
							</th>
							<td id="prodStatus$!product.id" class="prodAllStatus">
								#if($!product.enable == '0')
									<font color="blue">在线</font>
								#else
									<font color="red">下架</font>
								#end
							</td>
						</tr>
						<tr>	
							<th>
								时间:
							</th>
							<td>
								$dateTools.DateToString($!product.gmtModify)
							</td>
							<th>
								分类:
							</th>
							<td id="prodCate$!product.id">
								$categoryCache.getCate($!product.categoryId.toString()).name
							</td>
						</tr>
						<tr>
							<th>
								描述:
							</th>
							<td colspan="3" id="prodDesc$!product.id">
								$!product.description
							</td>
						</tr>
						<tr>
							<th>
								<input type="hidden" id="prodImgs$!product.id" value="$product.imgS">
							</th>
							<td colspan="3">
								<button prodId="$!product.id" class="btnProdEdit button button-info button-small">编辑...</button>
							</td>
						</tr>
					</table>
				</td>
		</table>
		<hr>
	</div>
	#end
#end
<script type="text/javascript">
	
	BUI.use('bui/uploader',function (Uploader) {
        
    var uploader = new Uploader.Uploader({
        render: '#J_Uploader',
        url: '$admin.setTarget('/upload/fileUpload.json')',
        isSuccess: function(result){
        	if(result.success){
        		var url = result.dataObject;
				jQuery("#imgPreview").attr("src",url);
				jQuery("#imgPreview").load(function(){
          			var allowedWidth = jQuery("#allowedWidth").text();
          			var allowedHeight = jQuery("#allowedHeight").text();
          		
          			var width = jQuery("#imgPreview").width();
          			var height = jQuery("#imgPreview").height();
          		
          			jQuery("#imgWidth").empty().append(width);
          			jQuery("#imgHeight").empty().append(height);
          		
          			if(allowedWidth!=width || allowedHeight!=height){
          				alert('图片的尺寸不符合要求!');
          				return false;
          			} else {
          				jQuery("#itemPath").val(url);
          				return true;
          			}
				});
        	} else {
        		alert(result.message);
        		return false;
        	}
        }
      }).render();
    });
     
	function mapPickerCallback(id){
		  var shopId = id;
	  	  var lng = myPoint.lng;
	  	  var lat = myPoint.lat;
	  	  jQuery("#btnShopRelocate").attr('lng',lng);
		  jQuery("#btnShopRelocate").attr('lat',lat);
    }
	
	
jQuery(document).ready(function(){
	var Overlay = BUI.Overlay;
    
	var shopDialog = new Overlay.Dialog({
        title:'店铺编辑',
        width:800,
        height:800,
        contentId:'shopEditFrom',
        success:function () {
       	if(validateFrom()){
       		shopCallback();
        }}
   });
	
	var prodDialog = new Overlay.Dialog({
         title:'商品编辑',
         width:600,
         height:320,
         contentId:'prodEditFrom',
         success:function () {
         if(validateFrom()){
        	prodCallback();  	
         }}
    });
	
	var uploadDialog = new Overlay.Dialog({
        title:'文件上传',
        width:800,
        height:800,
        contentId:'fileploadFrom',
        success:function () {
        	var imgId = jQuery("#itemId").val();
        	var imgPath = jQuery("#itemPath").val();
        	jQuery("#"+imgId).attr("src",imgPath);
        	uploadDialog.close();
        }
   });
	
	function renderTimepicker(startTime,endTime){
		jQuery('#s1').empty();
		jQuery('#log').text(startTime+"-"+endTime);
		var shopOpen =  convertInt(startTime);
		var shopClose = convertInt(endTime);
		BUI.use('bui/slider',function (Slider) {
	      var slider = new Slider.Slider({
	        render : '#s1',
	        range : true, //使用范围
			min: 0,
			max: 48,
			step:1,
	        value : [shopOpen,shopClose]
	      });
	      slider.render();
	      slider.on('change',function(ev){
			var start = convertTime(ev.value[0]);
			var end = convertTime(ev.value[1]);
			jQuery('#log').text(start+"-"+end);
	      });
	    });
	}
    
    //var Form = BUI.Form;
	//new Form.Form({
	   //srcNode : '.row'
	//}).render();
	
	
    jQuery(".btnProdEdit").click(function(){
    	 var prodId = jQuery(this).attr("prodId");
    	 prodDialog.show();
    	 bindProd(prodId);
    });
    
    jQuery(".btnProdAdd").click(function(){
   	 	prodDialog.show();
   	 	bindProd("");
   	});
    
    jQuery(".btnShopEdit").click(function(){
   	 	var shopId = jQuery(this).attr("shopId");
   	 	shopDialog.show();
   	 	bindShop(shopId);
   	});
    
    jQuery(".btnUpload").click(function(){
    	var imgWidth = jQuery(this).attr("imgWidth");
    	var imgHeight = jQuery(this).attr("imgHeight");
    	var imgId = jQuery(this).attr("imgId");
    	
    	jQuery("#allowedWidth").empty().append(imgWidth);
    	jQuery("#allowedHeight").empty().append(imgHeight);
    	if(imgId!=""){
    		jQuery("#itemId").val(imgId);
    	}
    	
    	uploadDialog.show();
    });
    
    jQuery(".btnShopRelocate").click(function(){
    	 var id = jQuery(this).attr("shopId");
    	 var lng = jQuery(this).attr("lng");
    	 var lat = jQuery(this).attr("lat");
    	 showMap(lng,lat,id);
   	});
    
    jQuery(".btnShopPassword").click(function(){
   	 	var shopId = jQuery(this).attr("shopId");
   	 	var password = jQuery("#contactPassword").val();
   	 	var customerId = jQuery("#customerId").val();
	   	var timestamp = currentTime();
        var para = "?timestamp="+timestamp+"&customerId="+customerId+"&shopId="+shopId+"&password="+password;
		  jQuery.ajax({
				type: "get",
				url: '$admin.setTarget('/json/updateShopPassword.json')'+ para,
				success:function(data, textStatus){
					jQuery("#customerId").val(data);
					alert('修改密码成功');
				}
			});
   	});
    
    jQuery(".enableAll").click(function(){
    	#if($!shop.shopDO.id)
    		BUI.Message.Confirm('是否要上线所有商品', function() {
    			updateProdsStatus('0');
			}, 'question');
    	#end
    });
    
    jQuery(".disableAll").click(function(){
    	#if($!shop.shopDO.id)
    		BUI.Message.Confirm('是否要下架所有商品', function() {
    			updateProdsStatus('1');
			}, 'question');
    	#end
    });
    
    function updateProdsStatus(enable){
    	var shopId = '$!shop.shopDO.id';
    	jQuery.ajax({
			type: "get",
			url: '$admin.setTarget('/json/updateProdsStatus.json')?shopId='+ shopId+'&enable='+enable,
			success:function(data, textStatus){
				if(enable == '0') {
					jQuery(".prodAllStatus").empty().append("<font color='blue'>在线</font>");
				}
				if(enable == '1') {
					jQuery(".prodAllStatus").empty().append("<font color='red'>下架</font>");
				}
			}
    	});
    }
    
    function bindShop(shopId){
		jQuery(".bui-stdmod-body #shopId").attr("shopId",shopId);
		
		var shopName = jQuery(("#shopName"+shopId)).text().trim();
		var contactName = jQuery(("#contactName"+shopId)).text().trim();
		var contactGender = jQuery(("#contactGender"+shopId)).text().trim();
		var shopStatus = jQuery(("#shopStatus"+shopId)).text().trim();
		var shopCharge = jQuery(("#shopCharge"+shopId)).text().trim();
		var contactMobile = jQuery(("#contactMobile"+shopId)).text().trim();
		var contactPhone = jQuery(("#contactPhone"+shopId)).text().trim();
		var contactAddress = jQuery(("#contactAddress"+shopId)).text().trim();
		var shopDesc = jQuery(("#shopDesc"+shopId)).text().trim();
		var shopImg = jQuery(("#shopImg"+shopId)).val().trim();
		var licenseType = jQuery(("#licenseType"+shopId)).text().trim();
		var licenseImg = jQuery(("#licenseImg"+shopId)).val().trim();
		
		jQuery(".bui-stdmod-body #shopName").attr("value",shopName);
		jQuery(".bui-stdmod-body #shopCharge").attr("value",shopCharge);
		jQuery(".bui-stdmod-body #contactName").attr("value",contactName);
		jQuery(".bui-stdmod-body #contactMobile").attr("value",contactMobile);
		jQuery(".bui-stdmod-body #contactPhone").attr("value",contactPhone);
		jQuery(".bui-stdmod-body #contactAddress").attr("value",contactAddress);
		
		var  option = "";
		if(shopStatus == "在线"){
			option += "<option value='0' selected>在线</option>";
			option += "<option value='1' >下架</option>";
		}else{
			option += "<option value='0' >在线</option>";
			option += "<option value='1' selected>下架</option>";
		}
		jQuery(".bui-stdmod-body #shopStatus").empty().append(option);
 	 
		option = "";
		if(contactGender == "先生"){
			option += "<option value='0' selected>先生</option>";
			option += "<option value='1' >女士</option>";
		}else{
			option += "<option value='0' >先生</option>";
			option += "<option value='1' selected>女士</option>";
		}
		jQuery(".bui-stdmod-body #contactGender").empty().append(option);
		
		option = "";
		if(licenseType == "企业注册"){
			option += "<option value='0' selected>企业注册</option>";
			option += "<option value='1' >个人注册</option>";
		}
		if(licenseType == "个人注册"){
			option += "<option value='0' >企业注册</option>";
			option += "<option value='1' selected>个人注册</option>";
		}
		if(licenseType == "尚未注册"){
			option += "<option value='' selected>尚未注册</option>";
			option += "<option value='0'>企业注册</option>";
			option += "<option value='1'>个人注册</option>";
		}
		jQuery(".bui-stdmod-body #licenseType").empty().append(option);
		
		jQuery(".bui-stdmod-body #shopDesc").val(shopDesc);
		jQuery(".bui-stdmod-body #shopImg").attr("src",shopImg);
		jQuery(".bui-stdmod-body #licenseImg").attr("src",licenseImg);
		var shopOpen = jQuery(("#shopOpen"+shopId)).text().trim();
		var shopClose = jQuery(("#shopClose"+shopId)).text().trim();
		renderTimepicker(shopOpen,shopClose);
    }
    
    function shopCallback(){
	 	var shopId = jQuery(".bui-stdmod-body #shopId").attr("shopId");
 	 
 	 	var shopName = jQuery(".bui-stdmod-body #shopName").attr("value");
 	 	var contactName = jQuery(".bui-stdmod-body #contactName").attr("value");
 	 	var contactGender = jQuery(".bui-stdmod-body #contactGender").val();
 	 	var shopStatus = jQuery(".bui-stdmod-body #shopStatus").val();
 	 	var shopCharge = jQuery(".bui-stdmod-body #shopCharge").val();
 	 	var shopImage = jQuery(".bui-stdmod-body #shopImg").attr("src");
 	 	var contactMobile = jQuery(".bui-stdmod-body #contactMobile").attr("value");
 	 	var contactPhone = jQuery(".bui-stdmod-body #contactPhone").val();
 	 	var contactAddress = jQuery(".bui-stdmod-body #contactAddress").val();
 	 	var shopDesc = jQuery(".bui-stdmod-body #shopDesc").val();
 	 	var shopTime = jQuery('#log').text();
 	 	var shopOpen = shopTime.split('-')[0].trim();
 	 	var shopClose = shopTime.split('-')[1].trim();
   	 	var contactId = jQuery("#contactId").val();
   	 	var customerId = jQuery("#customerId").val();
		var lng = jQuery("#btnShopRelocate").attr('lng');
		var lat = jQuery("#btnShopRelocate").attr('lat');
		var cid1 = jQuery("#cid1").val();
		var cid2 = jQuery("#cid2").val();
		var cid3 = jQuery("#cid3").val();
		var cid4 = jQuery("#cid4").val();
		var cid5 = jQuery("#cid5").val();
		var distance = jQuery("#distance").val();
		var price = jQuery("#price").val();
		var licenseType = jQuery("#licenseType").val();
		var licenseImg = jQuery(".bui-stdmod-body #licenseImg").attr("src");
		var shopCategory = getSelectedShopCate();
   	 
	   	var timestamp = currentTime();
	    var para = "?timestamp="+timestamp+"&id="+shopId;
	    para += "&shopName="+encodeURIComponent(shopName);
	    para += "&shopStatus="+shopStatus;
	    para += "&shopCharge="+shopCharge;
	    para += "&shopImage="+shopImage;
	    para += "&gmtOpen="+shopOpen;
	    para += "&gmtClose="+shopClose;
	    para += "&shopDesc="+encodeURIComponent(shopDesc);
	    para += "&contactId="+contactId;
	    para += "&customerId="+customerId;
	    para += "&contactName="+encodeURIComponent(contactName);
	    para += "&contactMobile="+encodeURIComponent(contactMobile);
	    para += "&contactPhone="+encodeURIComponent(contactPhone);
	    para += "&contactAddress="+encodeURIComponent(contactAddress);
	    para += "&contactGender="+contactGender;
	    para += "&distance="+distance;
 	  	para += "&price="+price;
	    para += "&lng="+lng;
	    para += "&lat="+lat;
	    para += "&cid1="+cid1;
	    para += "&cid2="+cid2;
	    para += "&cid3="+cid3;
	    para += "&cid4="+cid4;
	    para += "&cid5="+cid5;
	    para += "&licenseType="+licenseType;
	    para += "&licenseImg="+licenseImg;
	    para += "&shopCategory="+shopCategory;
	    
	    jQuery.ajax({
			type: "get",
			url: '$admin.setTarget('/json/updateShopDetail.json')'+ para,
			success:function(data, textStatus){
			   	shopDialog.close();
			   	window.location.reload();
			}
		});
    }
    
    function getSelectedShopCate(){
    	var result = '';
    	jQuery("[name='shopCateCb']").each(function(){
    		if(jQuery(this).attr('checked')){
    			result += jQuery(this).val() + ",";
    		}
    	});
    	return result;
    }
    
    function getSelectedShopCateText(){
    	var result = '';
    	jQuery("[name='shopCateCb']").each(function(){
    		if(jQuery(this).attr('checked')){
    			result += jQuery(this).parent().text().trim() + " ";
    		}
    	});
    	return result;
    }
     
    function bindProd(prodId){
    	if(prodId != null){
    		jQuery(".bui-stdmod-body #prodId").attr("prodId",prodId);
			var prodName = jQuery(("#prodName"+prodId)).text().trim();
	       	var prodTitle = jQuery(("#prodTitle"+prodId)).text().trim();
	       	var prodPrice = jQuery(("#prodPrice"+prodId)).text().trim();
	       	var prodStatus = jQuery(("#prodStatus"+prodId)).text().trim();
	       	var prodCate = jQuery(("#prodCate"+prodId)).text().trim();
	       	var prodDesc = jQuery(("#prodDesc"+prodId)).text().trim();
	       	var prodImgs = jQuery(("#prodImgs"+prodId)).val().trim();
	    	jQuery(".bui-stdmod-body #prodName").attr("value",prodName);
	    	jQuery(".bui-stdmod-body #prodTitle").attr("value",prodTitle);
	    	jQuery(".bui-stdmod-body #prodPrice").attr("value",prodPrice);
	    	jQuery(".bui-stdmod-body #prodDesc").val(prodDesc);
	    	jQuery(".bui-stdmod-body #prodImgs").attr("src",prodImgs);
	    	var option = "";
	    	if(prodStatus == "在线"){
	    		option += "<option value='0' selected>在线</option>";
	    		option += "<option value='1' >下架</option>";
	    	}else{
	    		option += "<option value='0' >在线</option>";
	    		option += "<option value='1' selected>下架</option>";
	    	}
	    	jQuery(".bui-stdmod-body #prodStatus").empty().append(option);
	    	 
	    	option = "";
	    	#foreach($category in $categoryL2List)
	    	if(prodCate == "$category.name"){
	    		option += "<option value='$!category.id' selected>$category.name</option>";
	    	}else {
	    		option += "<option value='$!category.id'>$category.name</option>";
	    	}
			#end
	    	jQuery(".bui-stdmod-body #prodCate").empty().append(option);
    	} else {
    		var option = "";
	    	option += "<option value='0' selected>在线</option>";
	    	option += "<option value='1' >下架</option>";
	    	jQuery(".bui-stdmod-body #prodStatus").empty().append(option);
	    	 
	    	option = "";
	    	#foreach($category in $categoryL2List)
	    		option += "<option value='$!category.id'>$category.name</option>";
			#end
	    	jQuery(".bui-stdmod-body #prodCate").empty().append(option);
    	}
     }
     
     function prodCallback(){
    	 var prodId = jQuery(".bui-stdmod-body #prodId").attr("prodId");
    	 
    	 var prodName = jQuery(".bui-stdmod-body #prodName").attr("value");
    	 var prodTitle = jQuery(".bui-stdmod-body #prodTitle").attr("value");
    	 var prodPrice = jQuery(".bui-stdmod-body #prodPrice").attr("value");
    	 var prodStatus = jQuery(".bui-stdmod-body #prodStatus").val();
    	 var prodCate = jQuery(".bui-stdmod-body #prodCate").val();
    	 var prodDesc = jQuery(".bui-stdmod-body #prodDesc").val();
    	 var prodImgs = jQuery(".bui-stdmod-body #prodImgs").attr("src");
    	 
    	 var timestamp = currentTime();
         var para = "?timestamp="+timestamp+"&id="+prodId;
         para += "&shopId=$!shop.shopDO.id"; 
         para += "&name="+encodeURIComponent(prodName);
         para += "&title="+encodeURIComponent(prodTitle);
         para += "&imgS="+prodImgs;
         para += "&price="+prodPrice;
         para += "&enable="+prodStatus;
         para += "&categoryId="+prodCate;
         para += "&description="+encodeURIComponent(prodDesc);
 		 
         if(prodId == ""){
        	 jQuery.ajax({
      			type: "get",
      			url: '$admin.setTarget('/json/createProdDetail.json')'+ para,
      			success:function(data, textStatus){
      				if(data){
      					window.location.replace("$admin.setTarget('shopDetail')?id=$!shop.shopDO.id");
      				}
      			}
      		});
         } else {
        	 jQuery.ajax({
     			type: "get",
     			url: '$admin.setTarget('/json/updateProdDetail.json')'+ para,
     			success:function(data, textStatus){
     				if(data){
     					jQuery(("#prodName"+prodId)).empty().append(prodName);
     			    	jQuery(("#prodTitle"+prodId)).empty().append(prodTitle);
     			    	jQuery(("#prodPrice"+prodId)).empty().append(prodPrice);
     			    	if(prodStatus == "0"){
     			    		prodStatus = "<font color='blue'>在线</font>";
     			    	}else{
     			    		prodStatus = "<font color='red'>下架</font>";
     			    	}
     			    	jQuery(("#prodStatus"+prodId)).empty().append(prodStatus);
     			    	
     			    	if(prodImgs!=""){
     				  		jQuery(("#prodImgs"+prodId)).empty().append(prodImgs);
     					   	jQuery("#prodDisplayImgs"+prodId).attr("src",prodImgs);
     				  	}
     			    	 
     			    	#foreach($category in $categoryL2List)
     			    	if(prodCate == "$category.id"){
     			    		prodCate = "$category.name";
     			    	}
     					#end
     			    	jQuery(("#prodCate"+prodId)).empty().append(prodCate);
     					 
     			    	jQuery(("#prodDesc"+prodId)).empty().append(prodDesc);
     			    	prodDialog.close();
     				}
     			}
     		});
         }
     }
     
     function validateFrom(){
    	 var errorCount = jQuery.find('.x-field-error').length;
    	 return errorCount == 0;
     }
     
     function convertTime(val){
 		var hour = ((val-val%2)/2)>=10?""+((val-val%2)/2):"0"+((val-val%2)/2);
 		var minute = val%2==1?"30":"00";
 		var second = "00";
 		var result = hour+":"+minute+":"+second;
 		if(result == "24:00:00"){
 			return "23:59:59";
 		}
 		return result;
 	 }
     
     function convertInt(time){
    	 if(time == "23:59:59"){
    		 return 48;
    	 }
    	 var times = time.split(':');
    	 var hour = parseInt(times[0]);
    	 var minute = parseInt(times[1]);
    	 minute = minute>0?1:0;
    	 var val = hour * 2 + minute;
    	 return val;
     }
     
     jQuery("#prodFilter").keyup(function(){
    	 var text = jQuery(this).val();
    	 jQuery(".prodNameFilter").each(function(){
    		 var label = jQuery(this).text().trim();
    		 if(label.indexOf(text)>=0){
    			 jQuery(this).parent().parent().parent().parent().parent().parent().show();
    		 } else {
    			 jQuery(this).parent().parent().parent().parent().parent().parent().hide();
    		 }
    	 });
     });
     
     jQuery("#prodFilter").change(function(){
    	 var text = jQuery(this).val();
    	 jQuery(".prodNameFilter").each(function(){
    		 var label = jQuery(this).text().trim();
    		 if(label.indexOf(text)>=0){
    			 jQuery(this).parent().parent().parent().parent().parent().parent().show();
    		 } else {
    			 jQuery(this).parent().parent().parent().parent().parent().parent().hide();
    		 }
    	 });
     });
     
     jQuery("#iconRemove").click(function(){
    	 jQuery(".prodNameFilter").each(function(){
    		 jQuery(this).parent().parent().parent().parent().parent().parent().show();
    	 });
    	 jQuery("#prodFilter").val('');
     });
});
</script>